HOST='127.0.0.1' # Host por defecto
PORT=8000 # Puerto por defecto
DEV=True # Entorno de desarrollo
DEBUG=True # Modo Debug para logging

HARDWARE_API=https://external-api/

DB_CONNECTION=postgresql://<user>:<password>@<host>:<port>/<db_name>
